<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>sign up</title>
</head>
<body>
     <h4>plz enter your details:</h4>
     <div class="signup_form">
          <form action="/user" method="post">
               <label for="">name</label>
               <input type="text" name="name" placeholder="rajat" required>

               <label for="">email</label>
               <input type="email" name="email" placeholder="rajat@gmail.com" required >
               
               <label for="">password</label>
               <input type="text" name="password" required>
               
               <button type="submit">SignUp</button>
          </form>
     </div>
</body>
</html>